<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    URL Shortener
    <div id="app">
        <input type="url"
               name="originUrl"
               v-bind="originUrl"
               placeholder="Please Enter URL">
        <button v-on:click="shortenUrl()"
                type="button">Shorten</button>
        <div>shortUrl: {{shortUrl}}</div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                originUrl: '',
                shortUrl: ''
            },
            methods: {
                checkUrl: function () {
                    axios
                        .get(`/${location.hostname}`)
                        .then(resp => {
                            this.info = resp
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                shortenUrl: function () {
                    axios
                        .post('/', { originUrl: this.originUrl })
                        .then(resp => {
                            this.info = resp
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            mounted() {
                // has pathname => get /:hash
                // no pathname => go to home page with submit button
            }
        })
    </script>
</body>

</html>